@model EmployeeViewModel
@{
    var department = new SelectList(ViewBag.Departments, "Id", "Name");
}
<div class="form-group">
    <label class="col-form-label" asp-for="Name">Name</label>
    <input class="form-control" asp-for="Name" />
    <span asp-validation-for="Name"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Age">Age</label>
    <input class="form-control" asp-for="Age" />
    <span asp-validation-for="Age"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Salary">Salary</label>
    <input class="form-control" asp-for="Salary" />
    <span asp-validation-for="Salary"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Department">Department</label>
    <select class="form-control" asp-items="@department" asp-for="DepartmentId">
        <option value="@null">________</option>
    </select>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Address">Address</label>
    <input class="form-control" asp-for="Address" />
    <span asp-validation-for="Address"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="PhoneNumber">PhoneNumber</label>
    <input class="form-control" asp-for="PhoneNumber" />
    <span asp-validation-for="PhoneNumber"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="HireDate">HireDate</label>
    <input class="form-control" asp-for="HireDate" />
    <span asp-validation-for="HireDate"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Email">Email</label>
    <input class="form-control" asp-for="Email" />
    <span asp-validation-for="Email"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="IsActive">IsActive</label>
    <input class="form-control" asp-for="IsActive" />
    <span asp-validation-for="IsActive"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Email">Email</label>
    <input class="form-control" asp-for="Email" />
    <span asp-validation-for="Email"></span>
</div>
