@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="Login" method="post">
			
			<input class="email " asp-for="Email" type="email" name="email" placeholder="Email" required="">
			<input class="text" asp-for="Password" type="password" name="password" placeholder="Password" required="">
			<div class="wthree-text">
				<label class="anim">
					<input type="checkbox" asp-for="RemmberMe" class="checkbox" required="">
					<span>I Agree To The Terms & Conditions</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="login">
		</form>
		<p>Don't have an Account? <a asp-action="Register"> Register Now!</a></p>
	</div>
</div>

