@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form asp-action="Create">
    <partial name="partialView/_CreateEditPartialView" />
    <input type="submit" value="submit" class="btn btn-primary" /> || <a asp-action="Index">go to back</a>
</form>
@section validationSection{
    <partial name="_ValidationScriptsPartial" />
}
