@model int
<td>
    <a asp-action="Details" asp-route-id="@Model" class="btn btn-primary">
        Details
    </a>
</td>
<td>
    <a asp-action="Edit" asp-route-id="@Model" class="btn btn-primary">
        Edit
    </a>
</td>
<td>
    <a asp-action="Delete" asp-route-id="@Model" class="btn btn-primary">
        Delete
    </a>
</td>
