@model Deaprtment
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<form asp-action="Delete"> 
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Name">Name</label>
        <input class="form-control" asp-for="Name" readonly />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Code">Code</label>
        <input class="form-control" asp-for="Code" readonly />
        <span asp-validation-for="Code"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="DateOfcreation">DateOfcreation</label>
        <input class="form-control" asp-for="DateOfcreation" readonly />
        <span asp-validation-for="DateOfcreation"></span>
    </div>
    <input asp-action="Delete" class="btn btn-danger" type="submit" value="Delete" /> || 
    <a asp-action="Index">go back</a>
</form>
